@import "vars";
@import "vendor/reset";

html {
    font-size: 62.5%;
}

body {
    background-color: #FBFBFB;
    font-weight: 400;
    font-family: 'Gilroy';
    font-size: 1.4rem;
    line-height: 130%;
    color: $white;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* Blocks */
@import "blocks/fonts/stylesheet.scss";
@import "blocks/header/header.scss";
@import "blocks/preheader/preheader.scss";
@import "blocks/btn/btn.scss";
@import "blocks/bootstrap/bootstrap.scss";
@import "blocks/card/card.scss";
@import "blocks/preheader-card/preheader-card.scss";
@import "blocks/search/search.scss";
@import "blocks/block-for/block-for.scss";
@import "blocks/become-partner/become-partner.scss";
@import "blocks/course/course.scss";
@import "blocks/nav/nav.scss";
@import "blocks/footer/footer.scss";
@import "blocks/menu/menu.scss";
@import "blocks/business/business.scss";
@import "blocks/credit/credit.scss";
@import "blocks/r-m-services/r-m-services.scss";
@import "blocks/lot-card/lot-card.scss";
@import "blocks/securities-deposits/securities-deposits.scss";
@import "blocks/calc/calc.scss";
@import "blocks/for-life/for-life.scss";
@import "blocks/currency-transactions/currency-transactions.scss";
@import "blocks/percentages/percentages.scss";
@import "blocks/slider/slick.scss";
@import "blocks/slider/slick-theme.scss";

@import "media/menu/Menu.scss";
@import "media/preheader/Preheader.scss";
@import "media/card/Card.scss";
@import "media/block-for/Block-for.scss";
@import "media/search/Search.scss";
@import "media/header/Header.scss";
@import "media/preheader-card/Preheader-card.scss";
@import "media/become-partner/Become-partner.scss";
@import "media/course/Course.scss";
@import "media/btn/Btn.scss";
@import "media/nav/Nav.scss";
@import "media/business/Business.scss";
@import "media/credit/Credit.scss";
@import "media/lot-card/Lot-card.scss";
@import "media/calc/Calc.scss";
@import "media/for-life/For-life.scss";
@import "media/securities-deposits/Securities-deposits.scss";
@import "media/Currency-transactions/Currency-transactions.scss";
@import "media/percentages/Percentages.scss";
@import "media/footer/Footer.scss";


