.course__wrapper {
    max-width: 1076px;
    width: 100%;
    margin: 0 auto;
}
.course__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 50px;
}
.course__blocks {
    display: flex;
    filter: drop-shadow(20px 20px 60px rgba(0, 0, 0, 0.15));
}
.course__block {
    width: 50%;
    padding: 38px 0 25px 41px;
}
.course__block:first-child {
    background: #F5FAFA;
    border-radius: 20px 0px 0px 20px;
    
}
.course__block:last-child {
    background: #FFFFFF;
    border-radius: 0px 20px 20px 0px;

}
.course__block_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 22px;
}
.course__sum {
    max-width: 447px;
    width: 100%;
    height: 64px;
    background: #ECF2F1;
    border-radius: 5px 5px 0px 0px;
    padding: 32px 0 11px 20px;
    border: none;
    border-bottom: 1px solid #969BA3;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #000000;
    font-family: 'Gilroy';

}
.course__input-wrapper {
    position: relative;
    margin-bottom: 22px;
}
.course__sum_label {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #969BA3;
    position: absolute;
    top: 11px;
    left: 20px;
}
.course__array {
    max-width: 400px;
    display: flex;
    justify-content: space-between;
}
.course__array-currency {
    padding: 10px 20px;
    background: #ECF2F1;
    border-radius: 100px;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.course__array-currency_active {
    background: #2D3748;
    color: #FFFFFF;
}
.course__block-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    max-width: 447px;
}
.course__block-header__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #969BA3;
}
.course__tip {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
    max-width: 447px;
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 12px;
}
.course__tip-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #000000;
}
.course__tip-text_sum {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: right;
    color: #000000;
    margin-bottom: 8px;
}
.course__tip-text_date {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: right;
    color: #000000;
    margin: 0;
}
.course__tip-block {
    width: 200px;
}
.course__blocks-btn {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    max-width: 447px;
}
.course__block-btn {
    width: 45%;
}
.course__block-btn_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: #969BA3;
    margin-top: 8px;
}
.course__block-btn_text a {
    text-decoration: none;
    color: #969BA3;
}