.calc {
    max-width: 1268px;
    margin: 0 auto;
}
.calc__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    color: #154E3F;
    margin-bottom: 45px;
}
.calc__blocks {
    display: flex;
    filter: drop-shadow(20px 20px 60px rgba(0, 0, 0, 0.15));
}
.calc--mt {
    margin-top: 40px;
}
.calc__block:first-child {
    padding-right: 38px;
}
.calc__block:last-child {
    padding-right: 45px;
}