.preheader {
    background: linear-gradient(97.18deg, #020204 7.92%, #154E3F 100.31%);
    border-radius: 0px 0px 103px 103px;
    padding-top: 150px;
    overflow-x: hidden;
    padding-bottom: 40px;
    position: relative;
}
.preheader__all {
    padding-bottom: 230px;
}
.preheader__background--main::after {
    display: block;
    content: '';
    background-image: url(../images/main/preheader-bg.png);
    position: absolute;
    width: 1144px;
    height: 718px;
    bottom: 0;
    right: 15%;
}
.preheader__background--business::after {
    display: block;
    content: '';
    background-image: url(../images/business/preheader-bg.png);
    position: absolute;
    width: 785px;
    height: 299px;
    bottom: 0;
    right: 15%;
}
.preheader__background--credit::after {
    display: block;
    content: '';
    background-image: url(../images/credit/preheader-bg.png);
    position: absolute;
    width: 587px;
    height: 691px;
    bottom: 0;
    right: 15%;
}
.preheader__background--r-m-services::after {
    display: block;
    content: '';
    background-image: url(../images/r-m-services/preheader-bg.png);
    position: absolute;
    width: 674px;
    height: 362px;
    bottom: 0;
    right: 5%;
}
.preheader__background--lot-card::after {
    display: block;
    content: '';
    background-image: url(../images/lot-card/preheader-bg.png);
    position: absolute;
    width: 563px;
    height: 362px;
    bottom: 0;
    right: 15%;
}
.preheader__background--s-deposits::after {
    display: block;
    content: '';
    background-image: url(../images/s-deposits/preheader-bg.png);
    position: absolute;
    width: 558px;
    height: 581px;
    bottom: 10%;
    right: 10%;
}
.preheader__background--for-life::after {
    display: block;
    content: '';
    background-image: url(../images/for-life/preheader-bg.png);
    position: absolute;
    width: 990px;
    height: 299px;
    bottom: 0;
    right: 10%;
}
.preheader__background--c-transactions::after {
    display: block;
    content: '';
    background-image: url(../images/c-transactions/preheader-bg.png);
    position: absolute;
    width: 528px;
    height: 521px;
    bottom: calc(50% - 260px);
    right: 10%;
}
.preheader__background--a-bank {
    border-radius: unset;
}
.preheader__background--a-bank::after {
    display: block;
    content: '';
    background-image: url(../images/a-bank/preheader-bg.png);
    position: absolute;
    width: 679px;
    height: 299px;
    bottom: 0;
    right: 10%;
}
.preheader__background--percentages::after {
    display: block;
    content: '';
    background-image: url(../images/percentages/preheader-bg.png);
    position: absolute;
    width: 654px;
    height: 343px;
    bottom: 0;
    right: 10%;
}
.preheader__container {
    max-width: 1100px;
    margin: 0 auto;
}
.preheader__subtitle {
    font-weight: 400;
    font-size: 26px;
    line-height: 130%;
    margin-bottom: 44px;
}
.preheader__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 130%;
    margin-bottom: 44px;
}
.preheader__title--max-width {
    max-width: 600px;
}
.preheader__title--max-width-2 {
    max-width: 600px;
}
.preheader__text {
    font-size: 24px;
    color: #fff;
    line-height: 130%;
    max-width: 525px;
    margin-bottom: 44px;
}
.bg-mobile--radius {
    border-radius: 0px 0px 103px 103px;
}