@media screen and (max-width: 992px) {
    .header__ul {
        display: none;
    }
    .header__container {
        padding: 0 25px;
    }
    
}
@media screen and (max-width: 768px) {
    .header__container {
        max-width: 720px;
        padding: 0 25px;
    }
}
@media screen and (max-width: 425px) {
    .header__container {
        padding: 0 15px;
    }
}