<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__block">
                <p class="footer__text footer__text--m-24">Контактная информация</p>
                <div class="footer__location footer__location--max-width">
                    <img src="assets/images/footer/location.svg" alt="Адресс" class="footer__icon">
                    <p class="footer__text footer__text--black">
                        606008, Нижегородская область, г. Дзержинск, ул. Урицкого, 10-Б
                    </p>
                </div>
                <div class="footer__location">
                    <img src="assets/images/footer/phone.svg" alt="Номер телефона" class="footer__icon">
                    <p class="footer__text">
                        <a href="tel:+78313261608" class="footer__tel ">+7 (8313) 26-16-08</a>
                    </p>
                </div>
                <div class="footer__time">
                    <div class="footer__time-block">
                        <p class="footer__text footer__text--m-24">Время работы банка</p>
                        <div class="footer__chart">
                            <p class="footer__text">Пн-Чт</p>
                            <p class="footer__text">09:00 - 16:30</p>
                        </div>
                        <div class="footer__chart">
                            <p class="footer__text">Пт</p>
                            <p class="footer__text">09:00 - 15:30</p>
                        </div>
                        <div class="footer__chart">
                            <p class="footer__text">Сб-Вс</p>
                            <p class="footer__text">выходной</p>
                        </div>
                    </div>
                    <div class="footer__time-block">
                        <p class="footer__text footer__text--m-24">Отдел вкладов</p>
                        <div class="footer__chart">
                            <p class="footer__text">Пн-Чт</p>
                            <p class="footer__text">09:00 - 17:30</p>
                        </div>
                        <div class="footer__chart">
                            <p class="footer__text">Пт</p>
                            <p class="footer__text">09:00 - 16:30</p>
                        </div>
                        <div class="footer__chart">
                            <p class="footer__text">Сб-Вс</p>
                            <p class="footer__text">выходной</p>
                        </div>
                    </div>
                </div>
                <p class="footer__text footer__text--m-64">
                    Валютно-обменные операции осуществляются по адресам
                </p>
                <div class="footer__location">
                    <img src="assets/images/footer/location.svg" alt="" class="footer__icon">
                    <p class="footer__text">
                        606008, Нижегородская обл., г. Дзержинск, ул. Урицкого, 10-Б, ПАО Комбанк «Химик»
                        <br>
                        <br>
                        123557, г. Москва, ул. Пресненский вал, дом 17, строение 1. Доп. офис «Московский» ПАО Комбанк «Химик»
                    </p>
                </div>
                <div class="footer__location">
                    <img src="assets/images/footer/phone.svg" alt="" class="footer__icon">
                    <p class="footer__text">
                        <a href="tel:+78313261608" class="footer__tel">+7 (8313) 26-16-08</a>
                        ,
                        <a href="tel:+74997028355" class="footer__tel">+7 (499) 702-83-55</a>
                    </p>
                </div>
            </div>  
            <div class="footer__block">
                <p class="footer__text footer__text--m-24">Дополнительный офис «Московский»</p>
                <div class="footer__location">
                    <img src="assets/images/footer/location.svg" alt="" class="footer__icon">
                    <p class="footer__text footer__text--black footer__location--max-width">
                        123557, г. Москва, ул. Пресненский вал, дом 17, строение 1
                    </p>
                </div>
                <div class="footer__location">
                    <img src="assets/images/footer/phone.svg" alt="" class="footer__icon">
                    <p class="footer__text">
                        <a href="tel:+74997028358" class="footer__tel">+7 (499) 702-83-58</a>
                        ,
                        <a href="tel:+74997028355" class="footer__tel">+7 (499) 702-83-55</a>
                    </p>
                </div>
                <div class="footer__time">
                    <div class="footer__time-block">
                        <p class="footer__text footer__text--m-24">Время работы банка</p>
                        <div class="footer__chart">
                            <p class="footer__text">Пн-Чт</p>
                            <p class="footer__text">09:30 - 17:00</p>
                        </div>
                        <div class="footer__chart">
                            <p class="footer__text">Пт</p>
                            <p class="footer__text">09:30 - 16:00</p>
                        </div>
                        <div class="footer__chart">
                            <p class="footer__text">Сб-Вс</p>
                            <p class="footer__text">выходной</p>
                        </div>
                    </div>
                </div>
                <p class="footer__text">
                    <a href="http://" target="_blank" rel="noopener noreferrer">Ставки по вкладам Дополнительного офиса «Московский»</a>
                </p>
                <img src="assets/images/footer/heroin-logo.svg" alt="HERO[IN]MARKETING" class="footer__heroin">
            </div>
        </div>
    </div>
</footer>
