<header class="header">
    <div class="header__container">
        <img src="assets/images/header/logo.svg" alt="Химик Банк" class="header__logo">
        <ul class="header__ul">
            <li class="header__li"><a href="#" class="header__link">О банке</a></li>
            <li class="header__li"><a href="#" class="header__link">Для жизни</a></li>
            <li class="header__li"><a href="#" class="header__link">Для бизнеса</a></li>
            <li class="header__li"><a href="#" class="header__link">Для партнеров</a></li>
            <li class="header__li"><a href="#" class="header__link">Карта сайта</a></li>
        </ul>
    </div>
</header>
