.preheader-card {
    margin-top: -63px;
    height: 180px;
}
.preheader-card__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.btn__preheader-card {
    margin-top: 20px;
    display: none;
}
.card__preheader-card {
    transition: all 0.3s linear;
    height: 125px;
    padding: 20px 24px 24px 24px;
}
.card__preheader-card:last-child {
    position: relative;
}
.card__preheader-card:last-child::after {
    display: block;
    content: '';
    background-image: url(../images/main/preheader-chat.svg);
    width: 76px;
    height: 76px;
    position: absolute;
    top: -65px;
    right: 0;
}
.card__preheader-card:hover {
    height: auto;
    transform: translateY(-30%);
}
.card__preheader-card:hover .btn__preheader-card {
    display: flex;
}