.business {
    margin: 90px 0;
}
.business-card {
    margin-bottom: 120px;
}
.business__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: #154E3F;
    margin: 0 0 16px;
}
.business__text-2 {
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    line-height: 130%;
}
.business-card__card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0 20px;
}
.business-card__card--2 {
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px 20px;
}
.business-card__card--column {
    flex-direction: column;
}
.business-card__wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas:
    "A A A B   B B B B   B B C C"
    "A A A D   D D D D   D E E E"
    "F F F F   F F F G   G G G G";
}
.grid-1 {
    grid-area: A;
    height: 362px;
}
.grid-2 {
    grid-area: B;
    height: 169px;
}
.grid-3 {
    grid-area: C;
    height: 169px;
}
.grid-4 {
    grid-area: D;
    height: 169px;
}
.grid-5 {
    grid-area: E;
    height: 169px;
}
.grid-6 {
    grid-area: F;
    height: 169px;
}
.grid-7 {
    grid-area: G;
    height: 169px;
}
.card__title--business {
    padding-top: 20px;
}
.card__img--right {
    display: block;
    margin-left: auto;
}